conf/*
.vs/Hercules-17/v17/Solution.VC.db-shm
.vs/Hercules-17/v17/Browse.VC.db
.vs/Hercules-17/v17/Browse.VC.db-shm
.vs/Hercules-17/v17/Browse.VC.db-wal
.vs/Hercules-17/v17/Browse.VC.opendb
.vs/Hercules-17/v17/Solution.VC.db
.vs/Hercules-17/v17/Solution.VC.db-wal
